body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0546af;
    color: #fff;
    text-align: center;
    padding: 30px;
}
h1 {
    margin: 0;
    font-size: 36px;
}
h2 {
    margin: 0;
    font-size: 24px;
    color: #4285f4;
    margin-top: 50px;
    margin-bottom: 20px;
}
section {
    padding: 20px;
    background-color: #f7f7f7;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
